<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="human" class="com.example.aop_demo.config.Human" />
    <bean id="sleepAspect" class="com.example.aop_demo.config.SleepAspect" />

    <aop:config>
        <aop:aspect ref="sleepAspect">
            <aop:before method="beforeSleep" pointcut="execution(* com.example.aop_demo.config.Human.sleep())" />
            <aop:after method="afterSleep" pointcut="execution(* com.example.aop_demo.config.Human.sleep())" />
        </aop:aspect>

    </aop:config>
</beans>